aws.region          = 'ap-southeast-1'

// path to AWS CLI (as installed in custom AMI, must be installed through conda, see nextflow documentation)
aws.batch.cliPath   = '/home/ec2-user/miniconda/bin/aws'
process.executor    = 'awsbatch'

// AWS Batch queue to use by default
process.queue       = 'q_general-purpose'

// Process specific AWS Batch queues
process {
    withLabel: 'memory_optimized'     { queue = 'q_memory_optimized' }
    withLabel: 'cpu_optimized'        { queue = 'q_cpu_optimized' }
}

params {
    max_cpus     = 8
    max_memory   = '60.GB'
    max_time     = '12.h'
}