process {
    withName: FASTQC {
            ext.args = '--quiet'
            publishDir = [
                path: { "${params.outdir}/QC_shortreads/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ]
        }
    
    withName: FASTQC_PROCESSED {
            ext.args = '--quiet'
            publishDir = [
                path: { "${params.outdir}/QC_shortreads/fastqc_processed" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ]
        }
        
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    
    withName: MULTIQC {
        ext.args   = ""
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}